<div class="container">
    <app-spinner *ngIf="loading" [diameter]="50"></app-spinner>
    <h2>Solicitar Turno</h2>
    <div class="container" style="margin-bottom: 30px;">
        <h2>Paciente: <span *ngIf="paciente">{{paciente.nombre}} {{paciente.apellido}}</span></h2>
    </div>
    <div class="btn-cont" *ngIf="nivel == 0">
        <ng-container *ngFor="let especialista of listaEspecialistas">
            <button mat-fab class="boton-esp" color="secondary" aria-label="Especialidad" value="{{especialista.mail}}" (click)="elegirEspecialista(especialista)">{{especialista.nombre + ' ' + especialista.apellido}}</button>
        </ng-container>
    </div>
    <div class="container" *ngIf="nivel == 1">
        <h2>Especialista Elegido: {{especialistaElegido.nombre + ' ' + especialistaElegido.apellido}}</h2>
        <div class="btn-cont">
            <ng-container *ngFor="let especialidad of listaEspecialidades">
                <button mat-fab class="boton-esp" color="secondary" aria-label="Especialista" value="{{especialidad.descripcion}}" (click)="elegirEspecialidad(especialidad)">{{especialidad.descripcion}}</button>
            </ng-container>
        </div>
        <p *ngIf="listaEspecialistas.length == 0">No se encontraron especilistas</p>
    </div>

    <div class="container" *ngIf="nivel == 2">
        <h2>Especialidad: {{especialidadElegida.descripcion}}</h2>
        <h2>Especialista: {{especialistaElegido.nombre}} {{especialistaElegido.apellido}}</h2>
        <div class="btn-cont">
            <ng-container *ngFor="let dia of listaDias">
                <button mat-fab class="boton-esp" color="secondary" aria-label="Dia" value="{{dia | date : 'dd/MM/y'}}" (click)="elegirDia(dia)"> {{dia | date : 'dd/MM/y'}} </button>
            </ng-container>
        </div>
        <p *ngIf="listaDias.length == 0">No se encontraron dias disponibles</p>
    </div>

    <div class="container" *ngIf="nivel == 3">
        <h2>Especialidad: {{especialidadElegida.descripcion}}</h2>
        <h2>Especialista: {{especialistaElegido.nombre}} {{especialistaElegido.apellido}}</h2>
        <h2>Fecha: {{diaElegido | date : "dd/MM/y"}}</h2>
        <!--
        <div class="btn-cont">
            <ng-container *ngFor="let hora of listaHoras">
                <button type="button" class="btn btn-sm btn-info" aria-label="Hora" value="{{hora | date : 'h:mm a'}}" (click)="elegirHora(hora)"> {{hora | date : 'h:mm a'}} </button>
            </ng-container>
        </div>
        <hr>
        -->
        <div class="btn-cont">
            <ng-container *ngFor="let hora of listaHorasPosibles">
                <button type="button" class="btn btn-sm btn-info" aria-label="Hora" value="{{hora | date : 'h:mm a'}}" (click)="elegirHora(hora)"> {{hora | date : 'h:mm a'}} </button>
            </ng-container>
        </div>
        <p *ngIf="listaHorasPosibles.length == 0">No se encontraron horas disponibles</p>
    </div>

    <div class="actions mt-4">
        <button *ngIf="nivel>0" mat-fab color="primary" aria-label="Volver" value="Volver" (click)="volver()">
            <i class="material-icons volver">arrow_back</i>
        </button>
        <button type="button" class="btn boton btn-secondary cancelar" (click)="cancelar()">Cancelar</button>
    </div>
</div>
