<div class="container">
    <form [formGroup]="forma" (ngSubmit)="aceptar()">
      <div class="row">
        <div class="col-md-12 mb-1">
          <h2>Registro Paciente</h2>
        </div>
      </div>
      <div class="row formulario">
        <div class="col-md-6 mb-1">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" formControlName="nombre">
          <small class="invalid" 
            *ngIf="forma.controls.nombre.errors?.required &&
            forma.controls.nombre.touched">
            El nombre es requerido
          </small>
          <small class="invalid" 
          *ngIf="forma.controls.nombre.errors?.containsSpaces &&
          forma.controls.nombre.touched">
          El nombre no puede contener espacios
        </small>
        </div>
        <div class="col-md-6 mb-1">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" formControlName="apellido"> 
          <small class="invalid"
            *ngIf="forma.controls.apellido.errors?.required &&
            forma.controls.apellido.touched">
            El apellido es requerido
          </small>
        </div>
        <div class="col-md-6 mb-1">
            <label for="obraSocial" class="form-label">Obra Social</label>
            <input type="text" class="form-control" id="obraSocial" placeholder="Ingrese Obra Social" formControlName="obraSocial"> 
            <small class="invalid"
              *ngIf="forma.controls.obraSocial.errors?.required &&
              forma.controls.obraSocial.touched">
              La obra social es requerida
            </small>
          </div>
        <div class="col-md-6 mb-1">
          <label for="edad" class="form-label">Edad</label>
          <input type="number" class="form-control" id="edad" placeholder="Ingrese edad" formControlName="edad">
          <small class="invalid"
            *ngIf="forma.controls.edad.errors?.required &&
            forma.controls.edad.touched">
            La edad es requerida
          </small>
          <small class="invalid"
            *ngIf="forma.controls.edad.errors?.min || 
            forma.controls.edad.errors?.max &&
            forma.controls.edad.touched">
            La edad debe ser de 18 a 99 años
          </small>
        </div>
        <div class="col-md-6 mb-1">
          <label for="dni" class="form-label">DNI</label>
          <input type="number" class="form-control" id="dni" placeholder="Ingrese DNI" formControlName="dni">
          <small class="invalid"
          *ngIf="forma.controls.dni.errors?.required &&
          forma.controls.dni.touched">
          El DNI es requerido
        </small>
        <small class="invalid"
          *ngIf="forma.controls.dni.errors?.min || 
          forma.controls.dni.errors?.max &&
          forma.controls.dni.touched">
          El DNI debe ser de x.xxx.xxx a xxx.xxx.xxx.
        </small>
        </div>
        <div class="col-md-6 mb-1">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Ingrese email" formControlName="email">
          <small class="invalid" 
            *ngIf="forma.controls.email.errors?.required &&
            forma.controls.email.touched">
            El email es requerido
          </small>
          <small class="invalid" 
            *ngIf="forma.controls.email.errors?.email &&
            forma.controls.email.touched">
            El email no tiene el formato correcto
        </small>
        </div>
        <div class="col-md-12 mb-1">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Ingrese contraseña" formControlName="password">
            <small class="invalid" 
              *ngIf="forma.controls.password.errors?.required &&
              forma.controls.password.touched">
              La contraseña es requerida
            </small>
            <small class="invalid" 
              *ngIf="forma.controls.password.errors?.password &&
              forma.controls.password.touched">
              La contraseña debe ser mas larga
          </small>
          </div>
          <div class="col-md-12 mb-1">
            <label for="password2" class="form-label">Repetir contraseña</label>
            <input type="password" class="form-control" id="password2" placeholder="Repita contraseña" formControlName="password2">
            <small class="invalid" 
              *ngIf="forma.controls.password.value != forma.controls.password2.value &&
              forma.controls.password2.touched">
              La contraseña no coincide
          </small>
          </div>
          <div class="col-md-6 mb-1">
            <label for="foto1" class="form-label">Foto 1</label>
            <input (change)="cambioArchivo($event, 0)" type="file" class="form-control" id="foto1" placeholder="Seleccione una Foto" formControlName="foto1"> 
            <small class="invalid"
              *ngIf="forma.controls.foto1.errors?.required &&
              forma.controls.foto1.touched">
              Las fotos son requeridas
            </small>
          </div>
          <div class="col-md-6 mb-1">
            <label for="foto2" class="form-label">Foto 2</label>
            <input (change)="cambioArchivo($event, 1)" type="file" class="form-control" id="foto2" placeholder="Seleccione otra Foto" formControlName="foto2"> 
            <small class="invalid"
              *ngIf="forma.controls.foto2.errors?.required &&
              forma.controls.foto2.touched">
              Las fotos son requeridas
            </small>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-grid gap-2">
          <re-captcha style="margin-left: 70px; margin-bottom: 10px;" id="captcha" name="captcha" formControlName="captcha"></re-captcha>
          <small class="invalid"
          *ngIf="forma.controls.captcha.errors?.required &&
          forma.controls.captcha.touched">
          Las fotos son requeridas
        </small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-grid gap-2">
          <button type="submit" 
          class="btn btn-primary btn-block" 
          [disabled]="forma.invalid">
          Aceptar
        </button>
        </div>
      </div>
    </form>
  </div>