.row-turno{
    cursor: pointer;
}

.historia{
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
}

.datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.dato{
    flex: 50%;
    margin-bottom: 5px;
    font-size: 15px;
}

.bold{
    font-weight: bold;
}

.encabezado{
    background-color: rgb(123, 128, 154);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}