<div class="contenedor">
    <h2>Pacientes</h2>
    <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <mat-fab-menu color="primary"
              [fabButtons]="arrayFabs"
              direction="right"
              (onFabMenuItemSelected)="pacienteSeleccionado($event)">              
            </mat-fab-menu>
            <table *ngIf="usuarioElegido" class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-secondary font-weight-bolder">Nombre</th>
                  <th class="text-center text-uppercase text-secondary font-weight-bolder">DNI</th>
                  <th class="text-center text-uppercase text-secondary font-weight-bolder">Edad</th>
                  <th class="text-center text-uppercase text-secondary font-weight-bolder">Obra Social</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="listaPacientes.length == 0">
                  <td>No hay pacientes para mostrar</td>
                </tr>
                <!-- <tr *ngFor="let paciente of listaPacientes" class="row-turno" (click)="seleccionarPaciente(paciente)"> -->
                <tr class="row-turno" (click)="seleccionarPaciente(usuarioElegido)">
                  <td>
                    <div class="text-center">
                        <span>{{usuarioElegido.nombre}} {{usuarioElegido.apellido}}</span>
                    </div>                
                  </td>
                  <td>
                    <div class="text-center">
                      {{usuarioElegido.dni}}
                    </div>
                  </td>
                  <td class="text-center">
                    <span>{{usuarioElegido.edad}}</span>
                  </td>
                  <td>
                    <div class="text-center">
                        <span>{{usuarioElegido.obraSocial}}</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
<div *ngIf="usuarioElegido" class="turnos">
  <app-mis-turnos [filtro]="usuarioElegido.nombre + ' ' + usuarioElegido.apellido"></app-mis-turnos>
</div>
<div class="historia row mb-4">
    <app-historia-clinica [usuarioElegido]="usuarioElegido" *ngIf="mostrarHistoria"></app-historia-clinica>
</div>
