<h1 style="margin-left: 35%; font-weight: bold;">Seleccione el tipo de registro:</h1>
<div class="containerGeneral">
    <button routerLink="/registropaciente" style="border-radius: 50%; border-width: 5px;" class="btn btn-outline-secondary"><img src="../../../assets/sick.png" alt="" style="scale: 0.7;"></button>
    <button routerLink="/registroprofesional" style="border-radius: 50%; margin: 2%; border-width: 5px;" class="btn btn-outline-secondary"><img src="../../../assets/doctor.png" style="scale: 0.7;" alt=""></button>
</div>
