<div class="container mt-5" id="pdf" *ngIf="usuario; else nada;">    
    <div class="row mt-5 pt-5" *ngIf="usuario">
        <div class="col-md-4 flex">
            <img [src]="usuario.imagen1Url" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
            <img [src]="usuario.imagen2Url" *ngIf="usuario.perfil == 'paciente'" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        </div>
        <div class="col-md-8 flex">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h1 class="card-title " style="text-transform: uppercase;">{{usuario.perfil}}</h1>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{usuario.nombre}} {{usuario.apellido}}</li>
                    <li class="list-group-item">{{usuario.mail}}</li>
                    <li class="list-group-item" *ngIf="usuario.perfil == 'paciente'">Obra social: {{usuario.obraSocial}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="mt-2 mb-2">
    <div id="historiapdf" class="row" *ngIf="usuario.perfil=='paciente'">
        <!-- <div class="col-md-12">
            <app-historia-clinica></app-historia-clinica>
        </div> -->
        <div class="row">
            <div class="col-md-3">
                <img id="icono" src="../../assets/health-clinic-icon.png">
            </div>
            <div class="col-md-9" style="text-align: center;">
                <h2>Historia Clinica</h2>
                <p>Fecha: {{ fecha | date:'dd-MM-yyyy' }} </p>
            </div>
        </div>
        <ng-container *ngIf="lista | async as listaHistorias; else empty">
            <ng-container *ngIf="listaHistorias.length > 0; else empty">
              <div *ngFor="let historia of lista | async" class="row-turno">
                <div class="historia">
                    <div class="encabezado">
                        <p><span class="bold">{{historia.especialista}} ({{historia.especialidad}})</span> - {{ historia.fecha | timestampToDate }}</p>
                    </div>
                    <div class="datos">
                    <ng-container *ngFor="let atributo of historia | keyvalue">
                        <div *ngIf="!noMostrar.includes(atributo.key)" class="dato">
                            <span class="bold">{{atributo.key}}</span>: {{atributo.value | boolToSino }}
                        </div>
                    </ng-container>
                    </div>
                </div>
              </div>
              <button type="button" class="btn btn-dark" (click)="descargarHistoriaClinica()">Descargar Historia Clinica</button>
            </ng-container>
        </ng-container>
        <ng-template #empty>No hay historias para mostrar</ng-template>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <app-mis-horarios *ngIf="usuario.perfil == 'especialista'"></app-mis-horarios>
        </div>
    </div>
    
</div>
<ng-template #nada>
    Ningún usuario logueado
</ng-template>

