
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" >Clinica Labo 4</a>
      
      <!-- Collapsible wrapper -->
      <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Bienvenido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/paneladministrador']">Panel Administrador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active" [routerLink]="['/registro']">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active"  [routerLink]="['/miperfil']" tabindex="-1" aria-disabled="true"
          >Mi Perfil</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link  active"  [routerLink]="['/misturnos']" tabindex="-1" aria-disabled="true"
          >Mis Turnos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link  active"  [routerLink]="['/pacientes']" tabindex="-1" aria-disabled="true"
          >Pacientes</a
          >
        </li>
        <li class="nav-item">
        <a class="nav-link  active"  [routerLink]="['/login']" tabindex="-1" aria-disabled="true"
        >Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link  active" href="" (click)="logout()" tabindex="-1" aria-disabled="true"
        >Logout</a
        >
      </li>
    </ul>
    
  </div>
  <!-- Collapsible wrapper -->
</div>
<!-- Container wrapper -->
</nav>
<!-- Navbar -->
<main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
