.cont{
    margin: 30px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    background-color: rgb(221, 221, 221);
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}
.boton {
    border: 2px solid rgb(143, 143, 143);
    border-radius: 50%;
}

.btn-cont {
    display: flex;
    justify-content: space-around;
    width: inherit;
    margin: 30px;
    overflow-x: scroll;
}

.btn-custom {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 5px;
}