<div class="container">
  <div class="cont">
      <div class="container">
          <h2>Acceso Rápido</h2>
      </div>
      <div class="btn-cont" *ngIf="list | async as usuario; else loading;">
          <ng-container *ngFor="let usuario of list | async">
              <button [ngStyle]="{'background-image': 'url('+usuario.imagen1Url+')'}" type="button" title="{{usuario.perfil}}" class="btn boton btn-custom" (click)="emitirUsuario(usuario)"></button>
          </ng-container>
      </div>
      <ng-template #loading>
          <app-spinner [diameter]="60"></app-spinner>
      </ng-template>
  </div>
</div>